<h1> Who's Looking List </h1>

 

<ul id="articles">
  <% @articles.each do |article| %>
 
	<li>  
	<%= link_to article.title, article_path(article) %>
	 
	<% if false %>
    	<h6><%= distance_of_time_in_words(article.created_at, Time.now) %> </h6> 
    <% end %>
    <span class="date"><%= article.created_at.strftime('%A, %-d %B %Y ') %></span><br /><br />
     <p class="article_main"><%= article.preview %><%= link_to "Read More", article_path(article) %></p>  
     <br /> 
<hr>
	</li>
  <% end %>
</ul>
<%= will_paginate @articles, :page_links => false %><br />
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: 'myButton' %>
<% end %>

 <br />

 