<h1> <%= @article.title %> </h1>
 

<p>
		<% if @article.image.exists? %>
        <%= image_tag @article.image.url %><br/>
  		<% end %>
  		
	</p><hr>
 <h3>Brief </h3><hr><p class="main_article_body"><%= @article.body %> </p><br /><hr>
<table width="100%">
<tr>
<td width="33%"><p> <h3>Deadline <span class="deet"><%= @article.dead_line %></span> </h3></p></td>
<td width="33%"><p> <h3>Label<span class="deet"> <%= @article.label %> </span> </h3></p></td>
<td width="33%"><p> <h3>Website <span class="deet"><a href="<%= @article.website %>"><%= @article.website %></a> </span> </h3></p></td>
</tr>
</table><hr>

<p><h3>Tags <span class="deet"><% @article.tags.any? %>
  <% @article.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %></span></h3></p>
<hr>



<br />
<a href="../" class="myButton">Back To List</a>
 <a href="<%= edit_article_path(@article) %>" class="myButton">Edit</a><br />
<% if logged_in? %>
 <% end %>


 


