<h1> <%= @article.title %> </h1>
<p>
<%= link_to "Tags:", tags_path(@tag) %>
<% @article.tags.each do |tag| %>
<%= link_to tag.name, tag_path(tag) %>
<% end %>
</p>

<p>
		<% if @article.image.exists? %>
        <%= image_tag @article.image.url %><br/>
  		<% end %>
  		
	</p>
<p> <h3>Brief: </h3><%= @article.body %> </p>
<p> <h3>Deadline: </h3><%= @article.dead_line %> </p>
<p> <h3>Label: </h3><%= @article.label %> </p>
<p> <h3>Website: </h3><%= @article.website %> </p>
<br />
<%= link_to "<< Back to Articles List", articles_path %>
<% if logged_in? %>

<%= link_to "Edit", edit_article_path(@article) %>
<% end %>